<div class="form-group">
    <label class="col-sm-1 control-label">Publisher</label>
    <div class="col-sm-7 input">
	<%= values[:publisher] %>
    </div>
    <label class="col-sm-1 inline-label">City</label>
    <div class="col-sm-3 inline-input" style="padding-left: 0px;">
	<%= values[:city] %>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">Year</label>
    <div class="col-sm-1 input">
	<%= values[:year] %>
    </div>
    <label class="col-sm-1 inline-label">Version</label>
    <div class="col-sm-1 inline-input">
	<%= values[:version] %>
    </div>
    <label class="col-sm-1 inline-label">Size</label>
    <div class="col-sm-1 inline-input" style="padding-left: 0px;">
	<%= values[:size] %>
    </div>
    <label class="col-sm-1 inline-label">Output Media</label>
    <div class="col-sm-2 inline-input" style="padding-left: 0px;">
	<%= values[:output_media] %>
    </div>
    <label class="col-sm-1 inline-label">DOI</label>
    <div class="col-sm-2 inline-input" style="padding-left: 0px;">
	<%= values[:doi] %>
    </div>
</div>
